altair
annotated-types
appdirs
attrs
audioread

beautifulsoup4
blinker
brotlipy
cachetools
click
contourpy
cycler

distlib

einops
face-alignment
ffmpeg-downloader
ffmpeg-python
filelock
Flask
fonttools

future
gdown
gitdb
GitPython
greenlet
huggingface-hub
imageio
importlib-resources
inflect
ipywidgets
itsdangerous
Jinja2
joblib
jsonschema
jupyterlab-widgets
kiwisolver
langchain
lazy_loader
librosa
llvmlite
markdown-it-py
MarkupSafe
matplotlib
mdurl
mkl-fft
mkl-service
msgpack
multidict
mutagen
networkx
numba
numpy
opencv-python
pandas
Pillow


pkgutil_resolve_name
platformdirs
pooch

protobuf
pyarrow
pydantic
pydantic_core

pydub
pyee
Pympler
pyparsing
pyrsistent

pytz

PyWavelets

PyYAML

resampy

rich
rotary-embedding-torch
scikit-image
scikit-learn
scipy
smmap
soupsieve
soxr
SQLAlchemy
streamlit

tenacity
tensorboardX
threadpoolctl

tokenizers
toml
toolz
torch
torchaudio
torchvision

tqdm
transformers

typing_extensions
tzdata
tzlocal
Unidecode

validators

virtualenv-clone
watchdog

Werkzeug
widgetsnbextension
xxhash
yarg
yarl
